<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pay Per View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../../node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../styles/pay-per-view/pay-per-view.css">
</head>

<body>
    <div class="container">
        <nav>
            <div id="logo">Pay Per View</div>
            <div id="btnGroup">
                <button>Sign In</button>
                <a href="#">I do not have an account</a>
            </div>
        </nav>
        <div class="swiper-container">
            <h2>Star Wars</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/1.jpg" />
                    <p>Star Wars - Episode I</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/2.jpg" />
                    <p>Star Wars - Episode II</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/3.jpg" />
                    <p>Star Wars - Episode III</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/4.jpg" />
                    <p>Star Wars - Episode IV</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/5.jpg" />
                    <p>Star Wars - Episode V</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/6.jpg" />
                    <p>Star Wars - Episode VI</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/starwars/7.jpg" />
                    <p>Star Wars - Episode VII</p>
                </div>
                <hr>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-container">
            <h2>James Bond</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/1.jpg" />
                    <p>Golden Eye</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/2.jpg" />
                    <p>A view to a kill</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/3.jpg" />
                    <p>Spectre</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/4.jpg" />
                    <p>Casino Royale</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/5.jpg" />
                    <p>Moonraker</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/6.jpg" />
                    <p>Die antoher day</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/7.jpg" />
                    <p>Skyfall</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/jamesbond/8.jpg" />
                    <p>Tomorrow never dies</p>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-container">
            <h2>Rick & Morty</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/1.jpg" />
                    <p>Pilot</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/2.jpg" />
                    <p>Lawnmoner Dog</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/4.jpg" />
                    <p>Anatomy park</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/3.jpg" />
                    <p>Shaym Aliens!</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/5.jpg" />
                    <p>Meeseeks and destroy</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/7.jpg" />
                    <p>Rick potion</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/6.jpg" />
                    <p>Rasing Gazorpazorp</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/8.jpg" />
                    <p>Rixty minutes</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/9.jpg" />
                    <p>Something ricked this way comes</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/10.jpg" />
                    <p>Close Rick-counters of the Rickkind</p>
                </div>
                <div class="swiper-slide">
                    <img alt="movie" src="../img/payPerView/rickandmorty/11.jpg" />
                    <p>Ricksy Business</p>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <footer>&copy; Copyright 2021, Jordan Radushev </footer>
    </div>
    <script src="../../node_modules/swiper/swiper-bundle.min.js"></script>
    <script src='../../src/slider.js'></script>
</body>

</html>