$colors:(primary: #005dff,
    primary-light:lighten(#005dff, 40%),
    primary-dark:darken(#005dff, 40%),
    accent: #fff6bb);
$padding:15px;
$borders:15px;
$small: 675px;
$medium: 1100px;

@import '../functions.scss';

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    #bg {
        background-color: color(primary);
        //Clippy CSS
        clip-path: polygon(100% 0, 100% 85%, 35% 100%, 0 100%, 0 0);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        @media screen and (min-width: $small) {
            clip-path: polygon(0 0, 78% 0, 62% 100%, 0% 100%);
        }

    }

    header a {
        text-decoration: none;
        color: #fff;
        padding: $padding;
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 650;
    }

}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 80%;
    @media screen and(max-width:$small) {
        grid-template-columns: 100%;
        grid-template-rows: 39% 2% 59%;
        margin-top: 25px;
    }

    section#primary {
        grid-row-start:1;
        grid-column: 1;
        color: #fff;
        padding-top: $padding;
        text-align: left;
        margin-top: 50px !important;
        margin: auto;
        width: 75%;
        @media screen and (min-width: $small) {
            margin-left: 26px;
        }
        @media screen and (max-width: $small) {
            text-align: center;
            grid-row-start: 3;
            grid-row-end: auto;
            margin-bottom: 0 !important;
            margin-top: 0 !important;

        } 
        h1 {
            font-size: 3.6em;
            letter-spacing: 10px;
            text-transform: uppercase;
            @media screen and (max-width: $small) {
                font-size: 1.7em !important;
                letter-spacing: 5px;
            }
            @media screen and (min-width: $small)  and (max-width: $medium) {
                font-size: 2.4em !important;
                letter-spacing: 5px;
            }
    
        }

        p {
            font-size: 1.4em;
            padding-bottom: 10px;
            @media screen and (max-width: $small) {
                font-size: .9em;
            }
        }

        a {
            color: color(primary-dark);
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: color(accent);
            display: block;
            text-align: center;
            margin: 50px 0 auto 0;
            padding: $padding;
            width: 60%;
            @media screen and (max-width: $small) {
                margin:auto;
                font-size: .9em;
            }
        }

        a:hover {
            background-color: color(primary);
            border-radius: $borders;
            color: color(primary-dark);
            border: 1px solid color(accent);
        }
    }

    section#card {
        grid-row-start:1;
        background-color: #fff;
        padding: 20px;
        margin-top: 150px !important;
        margin: auto;
        border: 3px solid color(primary);
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .2);

        @media screen and (max-width: $small) {
            grid-column-start: 1;
            margin-top: 50px !important;
        }


    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 10px;
            font-size: 1em;

            @media screen and (max-width: $small) {
                font-size: .85em !important;
            }

            span {
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: color(primary-light);
                border-radius: 50%;
                margin-right: 10px;
                
            }
            span#responsive{
                background-color: color(primary);
            }

            strong {
                display: inline-block;
                margin-left: max(40px);
                margin-top: 10px;
            }
        }
    }


}